* {
    margin: 0;
    padding: 0;
}

.image {
    height: 400px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
}

.content {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.content h1 {
    font-size: 40px;
    color: #464646;
    font-family: 'Source Sans Pro', sans-serif;
    /*font-weight: 600;*/
    margin: 30px 40px;
}

.content p {
    font-size: 20px;
    color: #343434;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}

.container h1, .container p {
    margin: 0 0 30px 0;
}

.container p, .container .email_form {
    margin: 0 20px;
}

#wall_1 {
    background: url(../images/anchors.png) repeat;
    background-attachment: fixed;
}

#wall_2 {
    background: url(../images/swirl_pattern.png) repeat;
    background-attachment: fixed;
}

#wall_3 {
    background: url(../images/school.png) repeat;
    background-attachment: fixed;
}

#wall_4 {
    background: url(../images/skulls.png) repeat;
    background-attachment: fixed;
}

#wall_5 {
    background: url(../images/giftly.png) repeat;
    background-attachment: fixed;
}

#content_1 {
    position: relative;
}

.content h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color: #3975b9;
}

.content h2::first-letter {
    font-size: 36px;
    font-weight: 400;
    color: #3975b9;
}

.carousel-items li a {
    text-decoration: none;
}

.carousel-control {
    background: none !important;
    filter: progid:none !important;
    outline: 0;
}

.carousel-control {
    color: #3975b9;
}

#slider_advantages .carousel-control:focus, #slider_advantages .carousel-control:hover {
    color: #3975b9;
}

#slider_advantages.carousel, .item, .active {
    flex: 1 1 100%;
}

#slider_advantages.carousel .item.active {
    height: 100%;
}

#slider_advantages .carousel-inner {
    height: 100%;
}

.carousel-caption {
    top: 10%;
}

.content #slider_advantages p {
    color: #fff;
}

#slider_advantages .carousel-indicators li {
    display: none;
}

#clients li img {
    height: 121px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* FULL HEIGHT SECTIONS */

div.screen-height {
    height: 100%;
    overflow: hidden;
}

div.tri-screen-height {
    height: 75%;
    overflow: hidden;
}

div.duo-screen-height {
    height: 50%;
    overflow: hidden;
}

div.third-screen-height {
    height: 33.33%;
    overflow: hidden;
}

div.pri-screen-height {
    height: 25%;
    overflow: hidden;
}

.flex-fit {
    display: flex;
    flex-flow: column;
}

.flex-fit.flex-vcenter {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.flex-fit.flex-vcenter p {
    margin: 0;
}

.flex-fit-nocol {
    display: flex;
}

div.darkened {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Custom */

.page-section {
    height: 100%;
}

div.screen-height .slides li, section.screen-height .slides li article {
    min-height: 100vh;
    height: 100%;
    height: calc(100%);
}

img.img-arrow-down {
    height: 50px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

img.img-arrow-right-down {
    height: 50px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}

img.img-arrow-left-down {
    height: 50px;
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Safari */
    transform: rotate(135deg);
}

/* ---------------------*/

/* animated list ---------------------*/

.animated_list {
    min-height: 428px;
}

.animated_list li {
    list-style: none;
    display: inline-block;
    background: transparent;
}

.animated_list li img {
    height: 120px;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
}

.animated_list li p {
    width: 100%;
    margin: 0;
    text-align: center;
}

ul.animated_list li p:first-of-type {
    margin-bottom: 8px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #3975b9;
}

.middle_logo {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45%;
}

.circle-big {
    position: relative;
    height: 650px;
    width: 100%;
    border-radius: 50% 50%;
    margin: 80px auto;
}

.rotate_item {
    max-width: 200px;
    height: 150px;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    transition: all .3s linear;
    font-size: 16px;
    text-align: center;
}

.rotate_item img {
    max-width: 100%;
    height: auto;
}

.rotate_item img.inline_img {
    display: inline-block;
    width: 25%;
}

.rotate_item p {
    margin: 10px 0;
}

#page2 img.icon {
    width: 120px;
    height: auto;
}

.show_on_mobile img {
    max-width: 100px;
    width: 100%;
    height: auto;
    max-height: 75px;
}

.show_on_mobile img.small_icon {
    width: auto;
    max-width: 60px;
    height: 60px;
}

.show_on_mobile img.big_icon {
    max-width: 250px;
    height: auto;
}

.zebra > div:nth-child(even) {
    background-color: #ededed;
}

.margin_small_ver {
    margin: 15px 0 !important;
}

.margin_medium_ver {
    margin: 30px 0 !important;
}

.no_margin {
    margin: 0 !important;
}

/* media queries ---------------------*/

@media screen and (max-width: 720px) {
    .page-section .image {
        height: 200px;
    }

    .page-section .content h1 {
        margin: 20px 2%;
    }

    .page-section .content p {
        margin: 20px 5%;
    }

    .content h1 {
        font-size: 28px;
    }

    .content p {
        font-size: 16px;
    }

    .content #slider_advantages.carousel .carousel-caption p {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    div.screen-height {
        height: auto;
    }

    div.screen-height .slides li, section.screen-height .slides li article {
        min-height: 600px;
    }

    .animated_list li img {
        height: 100px;
        width: 100px;
    }

    .no_margin_on_mobile {
        margin: 0;
    }
    .hide_on_mobile {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .content.container, .content.container div {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .content.container p {
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 60px;
        height: 70px;
        margin-top: -33px;
        font-size: 70px;
    }

    ul.animated_list div div {
        padding: 0 3%;
    }

    ul.animated_list div div:first-child {
        padding-right: 5%;
    }

    ul.animated_list div div:last-child {
        padding-left: 5%;
    }

    .navbar-nav {
        float: right;
    }

    .show_on_mobile {
        display: none;
    }
}