* {
    margin: 0;
    padding: 0;
}

.image {
    height: 400px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
}

.content {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.content h1 {
    font-size: 40px;
    color: #464646;
    font-family: 'Open Sans Condensed', sans-serif;
    /*font-weight: 600;*/
    margin: 30px 40px;
}

.content p {
    font-size: 18px;
    color: #343434;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}

.container h1, .container p {
    margin: 0 0 30px 0;
}

.container p, .container .email_form {
    margin: 0 20px;
}

#wall_1 {
    background: url(../images/anchors.png) repeat;
    background-attachment: fixed;
}

#wall_2 {
    background: url(../images/swirl_pattern.png) repeat;
    background-attachment: fixed;
}

#wall_3 {
    background: url(../images/school.png) repeat;
    background-attachment: fixed;
}

#wall_4 {
    background: url(../images/skulls.png) repeat;
    background-attachment: fixed;
}

#wall_5 {
    background: url(../images/giftly.png) repeat;
    background-attachment: fixed;
}

#content_1 {
    position: relative;
}

.content h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color: #3975b9;
}

.content h2::first-letter, span.big {
    font-size: 36px;
    font-weight: 400;
    color: #3975b9;
}

.carousel-items li a {
    text-decoration: none;
}

.carousel-control {
    background: none !important;
    filter: progid:none !important;
    outline: 0;
}

.carousel-control {
    color: #3975b9;
}

#slider_advantages .carousel-control:focus, #slider_advantages .carousel-control:hover {
    color: #3975b9;
}

#slider_advantages.carousel, .item, .active {
    flex: 1 1 100%;
}

#slider_advantages.carousel .item.active {
    height: 100%;
}

#slider_advantages .carousel-inner {
    height: 100%;
}

.carousel-caption {
    top: 10%;
}

.content #slider_advantages p {
    color: #fff;
}

#slider_advantages .carousel-indicators li {
    display: none;
}

#clients li img {
    height: 121px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* FULL HEIGHT SECTIONS */

div.screen-height {
    min-height: 100vh;
    height: 100%;
    height: calc(100%);
    overflow: hidden;
}

div.tri-screen-height {
    height: 75%;
    overflow: hidden;
}

div.duo-screen-height {
    height: 50%;
    overflow: hidden;
}

div.third-screen-height {
    height: 33.33%;
    overflow: hidden;
}

div.pri-screen-height {
    height: 25%;
    overflow: hidden;
}

.flex-fit {
    display: flex;
    flex-flow: column;
}

.flex-fit.flex-vcenter {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.flex-fit.flex-vcenter p {
    margin: 0;
}

.flex-fit-nocol {
    display: flex;
}

div.darkened {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Custom */

.page-section {
    height: 100%;
}

div.screen-height .slides li, section.screen-height .slides li article {
    min-height: 100vh;
    height: 100%;
    height: calc(100%);
}

img.img-arrow-down {
    height: 50px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

img.img-arrow-right-down {
    height: 50px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}

img.img-arrow-left-down {
    height: 50px;
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Safari */
    transform: rotate(135deg);
}

/* ---------------------*/

/* animated list ---------------------*/

.animated_list {
    height: 898px;
}

.animated_list li {
    list-style: none;
    display: inline-block;
    background: transparent;
}

.animated_list li img {
    height: 120px;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
}

.animated_list li p {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

ul.animated_list li p:first-of-type {
    margin-bottom: 20px;
}

/* /animated list ---------------------*/

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #3975b9;
}

.zebra > section:nth-child(odd) {
    background: #232830; /* For browsers that do not support gradients */
    background: -webkit-gradient(linear,0 0, 0 30%, from(#384848), to(#232830));
    background: -webkit-linear-gradient(top,#384848 0, #232830 30%); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(to bottom, #384848 0, #232830 30%); /* Standard syntax */
}

.zebra > section:nth-child(odd) h1, .zebra > section:nth-child(odd) h2, .zebra > section:nth-child(odd) h3, .zebra > section:nth-child(odd) p {
    color: #fff;
}

.margin_small_ver {
    margin: 15px 0 !important;
}

.margin_medium_ver {
    margin: 30px 0 !important;
}

.no_margin {
    margin: 0 !important;
}

/* vertical list ---------------------*/

.vertical_eq {
    width: 30%;

    float: left;
    margin: 60px 0 0;
    text-align: center;
    list-style: none;
}

.tab-gallery {
    width: 60%;
    height: 400px;

    float: right;
    position: relative;
    border: 4px solid #fff;
    box-shadow: 15px 15px; rgba(0,0,0,.25);
}

.tab-gallery ul {
    list-style: none;
}

.tab-gallery ul li {
    display: none;
}

.vertical_eq li:last-child:before {
    margin:100px;
}

.vertical_eq li:last-child {
    border-radius: 30px;
    background: #fff;
}

.vertical_eq li:last-child h2 {
    color: #000;
    margin: 0;
    padding: 0;
}

.vertical_eq li:last-child h2:first-letter {
    font-size: inherit;
    color: inherit;
}

/* /vertical list ---------------------*/

/* media queries ---------------------*/

@media screen and (max-width: 768px) {
    div.screen-height, #pageintro .slides li {
        height: auto;
        min-height: 630px;
    }

    div.screen-height .slides li, section.screen-height .slides li article {
        min-height: 600px;
    }

    .no_margin_on_mobile {
        margin: 0;
    }
    .hide_on_mobile {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .page-section .image {
        height: 200px;
    }

    .page-section .content h1 {
        margin: 20px 2%;
    }

    .page-section .content p {
        margin: 20px 5%;
    }

    .content h1 {
        font-size: 28px;
    }

    .content p {
        font-size: 22px;
    }

    .content #slider_advantages.carousel .carousel-caption p {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    .page-section .image {
        height: 150px;
    }

    .page-section .content h1 {
        margin: 15px 2%;
    }

    .page-section .content p {
        margin: 15px 5%;
    }

    .content h1 {
        font-size: 24px;
    }

    .content p {
        font-size: 18px;
    }

    .content #slider_advantages.carousel .carousel-caption p {
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    .content.container, .content.container div {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .content.container p {
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 60px;
        height: 70px;
        margin-top: -33px;
        font-size: 70px;
    }

    .navbar-nav {
        float: right;
    }

    .show_on_mobile {
        display: none;
    }
}