* {
    margin: 0;
    padding: 0;
}

.image {
    height: 400px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
}

.content {
    width: 100%;
    z-index: 2;
}

.content h1 {
    font-size: 40px;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 30px 40px;
}

.content p {
    font-size: 20px;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}

#wall_1 {
    background: url(../images/anchors.png) repeat;
    background-attachment: fixed;
}

#wall_2 {
    background: url(../images/swirl_pattern.png) repeat;
    background-attachment: fixed;
}

#wall_3 {
    background: url(../images/school.png) repeat;
    background-attachment: fixed;
}

#wall_4 {
    background: url(../images/skulls.png) repeat;
    background-attachment: fixed;
}

#wall_5 {
    background: url(../images/giftly.png) repeat;
    background-attachment: fixed;
}

#content_1 {
    position: relative;
}

.main h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color: #3cb0f8;
}
.main h2::first-letter {
    font-size: 36px;
    font-weight: 400;
    color: #3cb0f8;
}


.carousel-items li a {
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    .main .image {
        height: 200px;
    }

    .main .content h1 {
        margin: 20px 2%;
    }

    .main .content p {
        margin: 20px 5%;
    }
}